$thin: 'proxima_nova_ththin', sans-serif;
$light: 'proxima_nova_ltlight', sans-serif;
$regular: 'proxima_nova_rgregular', sans-serif;
$semibold: 'proxima_nova_ltsemibold', sans-serif;
$extrabold: 'proxima_nova_thextrabold', sans-serif;

$thin-it: 'proxima_novathin_italic', sans-serif;
$light-it: 'proxima_novalight_italic', sans-serif;
$regular-it: 'proxima_novaregular_italic', sans-serif;
$semibold-it: 'proxima_novasemibold_italic', sans-serif;
$bold-it: 'robotobold_italic', sans-serif;;
$extrabold-it: 'robotoextrabold_italic', sans-serif;