footer.footer
  section.footer-top
    .footer-top__logo
      a(href="/")
        img(src="/images/logof.png" alt="Logo footer")
    .footer-top__social
      ul.footer-top__list
        li.footer-top__item
          a(href="https://www.facebook.com/").footer-top__link
            svg(xmlns='http://www.w3.org/2000/svg', width='15', height='27', viewbox='0 0 15 27')
              style.
                .fb {
                  fill: #2d3e50;
                  fill-rule: evenodd
                }
              path#Forma_1.fb(data-name='Forma 1', d='M614.435 575.005l-3.6-.006a6.232 6.232 0 0 0-6.654 6.645v3.064h-3.617a.559.559 0 0 0-.566.551v4.441a.559.559 0 0 0 .566.551h3.617v11.2a.558.558 0 0 0 .566.55h4.719a.558.558 0 0 0 .566-.55v-11.2h4.23a.558.558 0 0 0 .565-.551v-4.439a.543.543 0 0 0-.166-.389.571.571 0 0 0-.4-.162h-4.231v-2.6c0-1.248.306-1.882 1.977-1.882h2.423a.558.558 0 0 0 .566-.55v-4.122a.559.559 0 0 0-.561-.551z', transform='translate(-600 -575)')

        li.footer-top__item
          a(href="https://vk.com/").footer-top__link
            svg(xmlns='http://www.w3.org/2000/svg', width='29', height='17', viewbox='0 0 29 17')
              style.
                .vk {
                  fill: #2d3e50;
                  fill-rule: evenodd
                }
              path#Forma_1.vk(data-name='Forma 1', d='M678.74 594.26a24.959 24.959 0 0 0-2.043-2.124c-.247-.237-.5-.482-.748-.726-.706-.7-.732-.963-.173-1.758.387-.548.8-1.1 1.194-1.628.359-.482.731-.98 1.088-1.479l.073-.1a11.353 11.353 0 0 0 1.761-3.137 1.431 1.431 0 0 0-.034-1.165 1.392 1.392 0 0 0-1.008-.56 2.638 2.638 0 0 0-.462-.031h-4.499a1.385 1.385 0 0 0-1.39.986 26.738 26.738 0 0 1-.834 1.95 16.031 16.031 0 0 1-2.548 3.978l-.048.053a.851.851 0 0 1-.4.312.18.18 0 0 1-.057-.01 1.234 1.234 0 0 1-.387-.943v-5.248a.49.49 0 0 0 0-.054 1.51 1.51 0 0 0-1.315-1.569.394.394 0 0 0-.077-.007h-4.64a1.858 1.858 0 0 0-1.564.778.614.614 0 0 0 .371 1.109 1.174 1.174 0 0 1 1 1.1 15.62 15.62 0 0 1 .062 3.67 3.125 3.125 0 0 1-.207.954.421.421 0 0 1-.205.258.518.518 0 0 1-.265-.118 3.951 3.951 0 0 1-.93-1.048 24.822 24.822 0 0 1-2.68-5.042 1.593 1.593 0 0 0-1.481-1.1 137.93 137.93 0 0 0-2.052-.017c-.7 0-1.348.007-1.982.02a1.245 1.245 0 0 0-1.114.49 1.286 1.286 0 0 0 .038 1.234 50.522 50.522 0 0 0 5.249 9.49 13.275 13.275 0 0 0 4.08 3.868 10.42 10.42 0 0 0 5.38 1.354c.232 0 .472 0 .715-.017a1.481 1.481 0 0 0 1.689-1.672 4.057 4.057 0 0 1 .382-1.769.472.472 0 0 1 .412-.339.755.755 0 0 1 .388.146 3.665 3.665 0 0 1 .664.6c.171.191.341.384.511.576.366.417.745.847 1.141 1.255a3.522 3.522 0 0 0 2.916 1.2h4.117a1.194 1.194 0 0 0 .969-.629 1.679 1.679 0 0 0-.014-1.576 8.466 8.466 0 0 0-1.043-1.515z', transform='translate(-651 -581)')
        li.footer-top__item
          a(href="https://twitter.com/").footer-top__link
            svg(xmlns='http://www.w3.org/2000/svg', width='27', height='22', viewbox='0 0 27 22')
              style.
                .tw {
                  fill: #2d3e50;
                  fill-rule: evenodd
                }
              path#Forma_1.tw(data-name='Forma 1', d='M737.255 579.406a11.1 11.1 0 0 1-3.519 1.349 5.538 5.538 0 0 0-9.582 3.8 5.6 5.6 0 0 0 .143 1.265 15.707 15.707 0 0 1-11.416-5.8 5.574 5.574 0 0 0 1.714 7.416 5.52 5.52 0 0 1-2.508-.7v.07a5.558 5.558 0 0 0 4.442 5.448 5.505 5.505 0 0 1-2.5.094 5.55 5.55 0 0 0 5.171 3.852 11.1 11.1 0 0 1-6.879 2.376A11.515 11.515 0 0 1 711 598.5a15.655 15.655 0 0 0 8.491 2.5c10.188 0 15.759-8.465 15.759-15.806l-.018-.72A11.146 11.146 0 0 0 738 581.6a11.059 11.059 0 0 1-3.18.875 5.582 5.582 0 0 0 2.435-3.069z', transform='translate(-711 -579)')

  section.footer-down
    .footer-down__about
      h3.footer-down__title About Us
      p.footer-down__about-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
    .footer-down__adress
      h3.footer-down__title Get in touch
      p.footer-down__adress-descr 84 Benson Cove
        span Oakland, Maine 04963 USA
      a(href="tel:+12074654622").footer-down__adress-tel +12074654622
      a(href="mailto:youremail@gmail.com").footer-down__adress-mail youremail@mail.com
    .footer-down__question
      .footer-down__title Ask a question
      form(action="" method="POST").footer-down__form
        .footer-down__form-input
          input(type="text" class="required" name="names" placeholder="" required)#name.footer-form__check
          label(for="name") Name
        .footer-down__form-input
          input(type="email" class="required" name="email_address" placeholder="" required)#mail.footer-form__check
          label(for="mail") E-mail
        .footer-down__form-input
          textarea(name="textarea" class="required" placeholder="" required)#textarea.footer-form__check
          label(for="textarea") Message
        .footer-down__form-button
          input(type='reset' value='Clean').footer-down__reset
          input(type='submit' value='Submit').footer-down__submit
section.footer-rights
  p All rights reserved