header.header
  .header-logo
    a(href="javascript:;")
      img(src="/images/logo.svg")
  .header-menu
    ul.header-menu__list
      li.header-menu__item
        a(href="javascript:;").header-menu__link Academics tours
      li.header-menu__item
        a(href="javascript:;").header-menu__link English courses
      li.header-menu__item
        a(href="javascript:;").header-menu__link Stay at home