meta(charset="utf-8")
meta(http-equiv="x-ua-compatible", content="ie=edge")
title American
meta(name="description", content="Page description. No longer than 155 characters.")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="SKYPE_TOOLBAR" content ="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
link(rel="apple-touch-icon", href="apple-touch-icon.png")
link(rel="stylesheet", href="css/styles.css")
