main
  // Main banner
  section.main-banner
    h1.main-banner__title Your future is waiting at
      span Academic Adventures USA

  // Main servis
  section.main-servis
    .main-servis__wrapper
      .main-servis__tours.main-servis__cell
        .main-servis__img
          img(src="/images/aircraft.svg")
        h2.main-servis__title Academics tours
        p.main-servis__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. justo commodo.
        a(href="javascript:;").main-servis__link More
      .main-servis__courses.main-servis__cell
        .main-servis__img
          img(src="/images/books.svg")
        h2.main-servis__title English courses
        p.main-servis__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. justo commodo.
        a(href="javascript:;").main-servis__link More
      .main-servis__home.main-servis__cell
        .main-servis__img
          img(src="/images/home.svg")
        h2.main-servis__title Stay at home
        p.main-servis__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. justo commodo.
        a(href="javascript:;").main-servis__link More

  // Main foto
  section.main-foto
    h2.main-foto__title Photos of happy students
    ul.main-foto__horizontal-first
      li.main-foto__item.main-foto__block1
      li.main-foto__item.main-foto__block2
      li.main-foto__item.main-foto__block3
    ul.main-foto__horizontal-second
      li.main-foto__item.main-foto__block4
        ul.main-foto__vertical
          li.main-foto__item.main-foto__vertical-block1
          li.main-foto__item.main-foto__vertical-block2
      li.main-foto__item.main-foto__block5
      li.main-foto__item.main-foto__block6

  // Main works
  section.main-works
    h2.main-works__title How it works
    ul.main-works__list
      li.main-works__item
        a(href="javascript:;").main-works__link
          .main-works__img.main-works__img--mail
          p.main-works__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      li.main-works__item
        a(href="javascript:;").main-works__link
          .main-works__img.main-works__img--comment
          p.main-works__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      li.main-works__item
        a(href="javascript:;").main-works__link
          .main-works__img.main-works__img--purse
          p.main-works__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      li.main-works__item
        a(href="javascript:;").main-works__link
          .main-works__img.main-works__img--airplan
          p.main-works__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit.

  // Main Reviews
  section.main-reviews
    h2.main-reviews__title Rewiews
    .main-reviews__one
      .main-reviews__descr
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
      .main-reviews__foto
      .main-reviews__name Name Surname, Country

  // Main App
  section.main-app
    .main-app__title Want to participate?
    a(href="javascript:;").main-app__link Yes